<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Componente Padre
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="nombre">Di mi nombre:</label>
                <input type="text"
                  class="form-control" 
                  name="nombre" 
                  id="nombre"
                  [(ngModel)]="nombre">
              </div>
              <app-hijo [hijoNombre]="nombre"
              (emitNo)="respuestaAlHijo($event)"></app-hijo>              
        </div>
        <div class="card-footer text-muted">
          Pie Padre
        </div>
      </div>
    </div>
  </div>
</div>