<div class="container mb-3">
    <div class="row align-items-center">
        <div class="col text-center">
            <div class="card">
              <div class="card-header">
                Lista de tareas en Angular4
              </div>
              <div class="card-body">

                <div class="form-group">
                  <input typ0e="text"
                    class="form-control" name="tarea" id="tarea" 
                    placeholder="Escribe una tarea"
                    [(ngModel)]="sTarea">
                  <button (click)="addTarea()">Añadir</button>  
                </div>

              </div>
              <div class="card-footer text-left text-muted">
                <div *ngIf="aTareas.length; then hayTareas else sinTareas"></div>
                
                <ng-template #hayTareas>
                  <h3>Tareas</h3>
                    <ul class="list-group">
                      <li class="list-group-item"
                      *ngFor="let tarea of aTareas; let i = index">
                        {{tarea}} ({{i+1}})
                      </li>
                    </ul>  
                </ng-template>
           
                <ng-template #sinTareas>
                  <p>Anímate y añadetu primera tarea</p>
                </ng-template>
           
              </div>
            </div>
        </div>
    </div>
</div>
